header {
	background-color: #f3f3f3;
	padding: 1em;
    display: flow-root;
	width: 100%;
	display: flex;
    justify-content: space-between;
}
.logo {
	width: 3em;
	float: left;
}
.buttons {
	display: flex;
	float: right;
	align-items: center;
	justify-content: center;
	margin: 0 1em;
	font-family: Arial, Helvetica, sans-serif;
}
.logout {
	border-radius: .5em;
	padding: .5em;
	background-color: white;
	cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    margin: 0 1em;
}
.logout:hover  {
	background-color: #e9fdff;
}
.logout {
	color: #42f5b6;
	border: 2px solid #42f5b6;
}